@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо на веб-сайт для гри Planetarium!</h1>
    <h2>Цей веб-сайт складається із двох розділів.</h2>
    <h3>
        На сторінці <a asp-controller="Questions" asp-action="QuestionsUkr">питань гри</a> 
        можна переглянути детальну інформацію про питання, що відібражаються у грі, а також відредагувати їх.
        Після редагування слід перезапустити гру, щоб побачити зроблені зміни.
    </h3>
    <h3>
        На сторінці <a asp-controller="Statistics" asp-action="GameStatistics">статистики гри</a>
        можна переглянути всю наявну статистику про закінчені та незакічнені раунди гри. Крім того, можна
        видалити зайву статистику.
    </h3>
</div>